* {
    padding: 0px;
    margin: 0px;
    box-sizing: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    scroll-behavior: smooth;
}

.fordis {
    visibility: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #010127;
    align-items: center;
    height: 89px;
    color: white;
    top: 0;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.tran:hover {
    color: #C9FE00;
}

.tran {
    transition: 0.5s;
}

.head1 {
    margin: 53px;
    cursor: pointer;
    font-weight: bolder;

}

body {
    background-color: #010127;
}

header ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin: 53px;

}

a {
    text-decoration: none;
}

.main1 {
    position: relative;
    top: 140px;
}

.forstyle {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 25px;
}

.forstyle4 {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 25px;
}

.main2 {
    display: flex;
    margin-left: 40px;
    margin-top: 166px;


}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 910.06px;
    height: 316px;

}

.forstage1 {
    width: 440px;
    line-height: 24px;
    word-spacing: 1px;
}

.div2 {
    display: flex;
    align-items: center;
    width: 910.06px;
    height: 316px;
    gap: 60px;

}

.div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.div3 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div1 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forstyle2 {
    width: 1px;
    height: 100%;
    background-color: white;
}

.div6 {
    display: flex;
    justify-content: center;
    gap: 42px;
    border-radius: 30px;
    margin-top: 31px;
}

.div6 img {
    border-radius: 20px;
}

.forstyle3 {
    width: 100%;
    height: 1px;
    background-color: white;
}

.div7 {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 58px;
}

.div7 span {
    margin-left: 50px;
}

.div8 span {
    margin-left: 50px;
}

.img1 {
    margin: 40px 50px 51px 50px;
    border-radius: 22px;
}

.div8 {
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-size: 50px;
}

.leftimg {
    width: 882px;
    height: 495px;
    border-radius: 20px;
    transition: 0.9s;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/c837a6_8b6392a071b94deba7d565b6822414dd~mv2.png/v1/fill/w_882,h_496,q_90/c837a6_8b6392a071b94deba7d565b6822414dd~mv2.png);
}

.leftimg:hover {
    background-image: url(./img/zord2.png);
    transition: 0.9s;
}

.rightimg {
    width: 881px;
    height: 495px;
    border-radius: 20px;
    transition: 0.9s;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/c837a6_d16771034a6a4bc1b8313f58d48c9fda~mv2.png/v1/fill/w_881,h_496,q_90/c837a6_d16771034a6a4bc1b8313f58d48c9fda~mv2.png);
}

.rightimg:hover {
    background-image: url(./img/x\ weapon.png);
    transition: 0.9s;
}

.main3 {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-top: 44px;
    margin-bottom: 59px;
}

.main3 div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 30px;
}

.pn {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 30px;
    margin-top: 124px;
}

.forpn {
    display: flex;
    justify-content: space-between;
    margin: 0px 71px 0px 71px;
}

.footnav {
    display: flex;
    justify-content: space-between;
    margin: 50px 44.5px;
}

.div15 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 44.5px;
    margin-right: 44.5px;
}

footer {
    padding-bottom: 23px;
}

.forposition {
    position: relative;
    top: 522px;
}